# ignore files in the data folder
data/*
#except the current version
!data/street_hist.csv
!data/pop.dat
!data/hnt_2025.csv
!data/admin_centres.csv
!data/hungary_shp/

#don't track output files
output/*
#except outputs used
!output/bp_ker_simplified/
!output/neat_20260103_171612/
!output/all_graph_stats_maj8.csv
!output/elev_stdevs_jan3.csv
!output/bp_simplified.graphml

# ignore files in the resources folder
# resources/

# ignore cache
cache/
# ignore notebooks
*.ipynb
#except the final notebooks
#!final.ipynb
!00_city_demo.ipynb
!10_all_stats.ipynb
!20_elevation.ipynb

#
__pycache__/
.ipynb_checkpoints/
.vscode/
assets/
dash_app/assets/